h2 pug前處理語言
h2.title.red pug前處理語言
h2.title.red pug前處理語言
  span.smalltext 小文字

ul.personlist
  .person
    h3 名子1
    p 內文介紹
  .person 
    h3 名子1
    p 內文介紹
  .person
    h3 名子1
    p 內文介紹
a(href="網址") 連結無字
img(src="圖片網址", alt="")